

<h1>レストラン一覧</h1>

<table class="table table-striped">
<tbody>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><img src="<%= restaurant.image %>" alt="" width="100"></td>
    <td>
      <%= restaurant.name %>
    </td>
    <td>
      <%= link_to '詳細をみる', restaurant, class: "btn btn-default" %>
    </td>
<!--<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </div>
  </div>
  <% end %>
</tbody>

</table>
<%= link_to 'New Restaurant', new_restaurant_path %>
