<div class="main">
  <img src=" <%= @restaurant.image %>" alt="">
</div>
<h1><%= @restaurant.name %></h1>

<table class="table table-striped">
  <tr>
    <th>住所</th>
    <td><%= @restaurant.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @restaurant.tel %></td>
  </tr>
  <tr>
    <th>URL</th>
    <td>
      <a href="<%= @restaurant.url %>" target="_blank">
        <%= @restaurant.url %>
      </a>
    </td>
  </tr>
  <tr>
    <th>評価</th>
    <td>
    </td>
  </tr>
</table>

<%= link_to '編集する', edit_restaurant_path(@restaurant) %> |
<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant) %>


<h2>レビュー一覧</h2>
<% @restaurant.reviews.each do |review| %>
  <div>
    <%= simple_format(review.body) %>
  </div>

  <p>
    <span><%= review.score %></span>
    by <%= review.user.full_name %>
  <% if current_user == review.user %>
    <%= link_to 'レビューを編集', edit_restaurant_review_path(@restaurant, review.id) %> |
    <%= link_to 'レビューを削除', restaurant_review_path(@restaurant, review.id), method: :delete %>
  <% end %>
  </p>

  <hr>
<% end %>

<p>
  <%= link_to '一覧へ戻る', restaurants_path, class: "" %>
</p>
