<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @restaurant.tel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Url:</strong>
  <%= @restaurant.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @restaurant.image %>
</p>

<%= link_to '編集する', edit_restaurant_path(@restaurant) %> |
<%= link_to '一覧へ戻る', restaurants_path %> |
<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant) %>

<h2>レビュー一覧</h2>
<% @restaurant.reviews.each do |review| %>
  <div>
    <%= simple_format(review.body) %>
  </div>

  <div>
    <%= review.score %>
  </div>
  
  <p>by <%= review.user.full_name %></p>

<% end %>
